{% extends 'base.html' %}
{% block content %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>




<h1>Hello World!</h1>

<p>C'est ma première page websfgfsgs23</p>

<h2>{{nom}}</h2>

<p>{{contenu|striptags}}</p>

{% for p in pizzas %}
    {% if p==41 %}
        {{p+100}}<br/>
    {% else %}
        {{p|string|reverse}} <br/>
    {% endif %}
{% endfor %}

<br/>

{{pizzas.1}}
{% endblock %}